@font-face {
  font-family: "Manhattan";
  src: url('../fonts/Manhattan-Regular.otf');
}

@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato-Light.otf');
}

@font-face {
  font-family: "Lato-Bold";
  src: url('../fonts/Lato-Bold.ttf');
}

* {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5, ul, p, a {
  margin: 0;
}

h1, h2, h3 {
  font-family: "Manhattan", serif;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}

.btn {
  background: #000000;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;;
}

.btn-big {
  background: #000000;
  color: #fff;
  border-radius: 8px;
  padding: 20px 60px;
  border: none;
  font-size: 16px;
}
