// Colors
.grey {
    background: #D9D9D9;
  }
  
.tan {
    background: #DCCEC8;
}

.light-brown {
    background: #DC997D;
}

.brown {
    background: #814A3D;
}

.black {
    background: #000;
}

#artists {
    text-align: center;
    h3 {
        margin: 40px 0 100px;
    }

    .grid {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        // grid-gap: 20px;

        max-width: 1500px;
        margin: auto;
        columns: 4;
        column-gap: 10px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            break-inside: avoid;

            .fill {
                max-width: 350px;
                height: 100%;
                width: 100%;
                margin-bottom: 20px;
            }

            .tan {
                height: 180px;
            }

            .black {
                height: 400px;
            }

            .light-brown {
                height: 360px;
            }

            .brown {
                height: 300px;
            }

        }

        a {
            z-index: 9;
            width: 350px;

            .grid-item {
                height: fit-content;
                height: -moz-fit-content;
                margin-bottom: 20px;

                &:hover {
                    transform: scale(1.03);
                }
    
                img {
                    width: 350px;
                }
    
                .text-container {
                    position: absolute;
                    bottom: 0;
                    width: 350px;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
    
                    h4 {
                        text-transform: uppercase;
                        font-family: "Lato-Bold";
                        color: #fff;
                        position: absolute;
                        z-index: 9;
        
                        &:nth-child(1) {
                            bottom: 30px;
                            font-size: 26px;
                        }
        
                        &:nth-child(2) {
                            font-size: 18px;
                            bottom: 5px;
                        }
                    }
                }
    
                .overlay {
                    position: absolute;
                    width: 350px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

// change color box sizes
#artists > .grid > div:nth-child(11) > div.tan {
    height: 268px;
}

#artists > .grid > div:nth-child(17) > div.brown {
    height: 405px;
}

#artists > .grid > div:nth-child(18) > div.black {
    height: 447px;
}

// react-masonry-css
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}
  
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
}

@media(max-width: 1500px) {
    #artists {
        .grid {
            columns: 3;
        }
    }
}

@media(max-width: 1050px) {
    #artists {
        .grid {
            columns: 2;
        }
    }
}

@media(max-width: 720px) {
    #artists {
        .grid {
            columns: 1;

            .fill {
                display: none;
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width: 450px) {
    #artists {
        .grid {
    
            a {
                width: 250px;
    
                .grid-item {
    
                    &:hover {
                        transform: scale(1.03);
                    }
        
                    img {
                        width: 250px;
                    }

                    .text-container {
                        width: 250px;
                    }

                    .overlay {
                        width: 250px;
                    }
                }
            }
        }
    }
}