// Colors
.grey {
    background: #D9D9D9;
  }
  
.tan {
    background: #DCCEC8;
}

.light-brown {
    background: #DC997D;
}

.brown {
    background: #814A3D;
}

.black {
    background: #000;
}

#artists {
    text-align: center;
    h3 {
        margin: 40px 0 100px;
    }

    .grid {
        max-width: 1500px;
        margin: auto;
        columns: 4;
        margin-bottom: 50px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;

            .fill {
                max-width: 350px;
                width: 100%;
                height: 100%;
                margin-bottom: 20px;
            }

            .tan {
                height: 180px;
            }

            .black {
                height: 400px;
            }

            .light-brown {
                height: 360px;
            }

            .brown {
                height: 300px;
            }

        }

        a {
            cursor: initial;
            .grid-item {
                height: fit-content;
                height: -moz-fit-content;
                margin-bottom: 20px;
                transition: .6s ease-out;

                &:hover {
                    transform: translateY(15px);
                }

                div.image {
                    img {
                        cursor: pointer;
                        width: 350px;
                    }
                }
    
                .text-container {
                    position: absolute;
                    bottom: 0;
                    width: 350px;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
    
                    h4 {
                        text-transform: uppercase;
                        font-family: "Lato-Bold";
                        color: #fff;
                        z-index: 4;
        
                        &:nth-child(1) {
                            font-size: 26px;
                        }
        
                        &:nth-child(2) {
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                    }
                }
    
                .overlay {
                    position: absolute;
                    width: 350px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.14);
                    cursor: pointer;
                }
            }
        }
    }
}

// bottom tan box
#artists > div > div:nth-child(14) > div.tan {
    height: 147px;
}
// brown box middle
#artists > div > div:nth-child(19) > div.brown {
    height: 180px;
}
// bottom right tan box
#artists > div > div:nth-child(29) > div.tan {
    height: 55px;
}

@media(max-width: 1470px) {
    #artists {
        .grid {
            columns: 3;
        }
    }
}

@media(min-width: 1150px) and (max-width: 1470px) {
    #artists > div > div:nth-child(8) > div.tan {
        display: none;
    }

    #artists > div > div:nth-child(10) > div.light-brown {
        height: 200px;
    }

    #artists > div > div:nth-child(13) > div.black {
        display: none;
    }

    #artists > div > div:nth-child(19) > div.brown {
        height: 128px;
    }

    #artists > div > div:nth-child(21) > div.light-brown {
        display: none;
    }

    #artists > div > div:nth-child(29) > div.tan {
        height: 75px;
    }
}

@media(max-width: 1150px) {
    #artists {
        .grid {
            columns: 2;
        }
    }
}

@media(max-width: 750px) {
    #artists {
        .grid {
            columns: 1;

            .fill {
                display: none;
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 550px) {
    #artists {
        h3 {
            margin: 20px 0 80px;
        }
    }
}

@media(max-width: 380px) {
    #artists {
        .grid {
    
            a {
                width: 280px;
    
                .grid-item {
        
                    img {
                        width: 280px;
                    }

                    .text-container {
                        width: 280px;

                        h4 {
                            &:nth-child(1) {
                                font-size: 22px;
                                bottom: 35px;
                            }

                            &:nth-child(2) {
                                font-size: 16px;
                                bottom: 10px;
                            }
                        }
                    }

                    .overlay {
                        width: 280px;
                    }
                }
            }
        }
    }
}