#artists {
    text-align: center;
    h3 {
        margin: 40px 0 100px;
    }

    .grid {
        max-width: 1500px;
        margin: auto;
        columns: 4;
        column-gap: 10px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            break-inside: avoid;

            .fill {
                max-width: 350px;
                height: 100%;
                width: 100%;
                margin-bottom: 20px;
            }

            .tan {
                height: 180px;
            }

            .black {
                height: 400px;
            }

            .light-brown {
                height: 360px;
            }

            .brown {
                height: 300px;
            }

        }

        a {
            z-index: 9;
            width: 350px;

            .grid-item {
                height: fit-content;
                height: -moz-fit-content;
                margin-bottom: 20px;

                &:hover {
                    transform: scale(1.03);
                }
    
                img {
                    width: 350px;
                }
    
                .text-container {
                    position: absolute;
                    bottom: 0;
                    width: 350px;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
    
                    h4 {
                        text-transform: uppercase;
                        font-family: "Lato-Bold";
                        color: #fff;
                        position: absolute;
                        z-index: 9;
        
                        &:nth-child(1) {
                            bottom: 30px;
                            font-size: 26px;
                        }
        
                        &:nth-child(2) {
                            font-size: 18px;
                            bottom: 5px;
                        }
                    }
                }
    
                .overlay {
                    position: absolute;
                    width: 350px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}