#footer {
    width: 100%;
    background: #000;
    padding: 100px 40px;

    footer {
        max-width: 1500px;
        display: grid;
        grid-template-columns: 3fr 1fr;

        .left {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .column {
                div {
                    text-align: left;
                    margin-bottom: 15px;
                    p {
                        font-size: 20px;
                        font-family: "Lato-Reg";
                        color: #fff;
                    }
    
                    .state {
                        text-decoration: underline;
                        margin-bottom: 30px;
                        color: #fff;
                    }
    
                    a.email {
                        color: #fff;
                        font-size: 14px;

                        &:hover {
                            color: #c3c3c3;
                        }
                    }
                }
            }
        }
    

        .right {
            display: flex;
            justify-content: flex-end;
            max-width: 400px;

            div {
                max-width: 300px;
                text-align: left;

                p {
                    color: #fff;
                    font-size: 20px;
                    margin-bottom: 30px;
                }

                a {
                    color: #fff;
                    font-size: 20px;
                    font-family: "Lato-reg"; 

                    &:hover {
                        color: #c3c3c3;
                    }
                }
            }

            #copyright {
                font-size: 10px;
                margin-top: 10px;
            }

            .logo {
                max-width: 150px;
                border-radius: 15px;
                margin-top: 40px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 679px) {
    #footer {
        padding: 40px 20px;
        footer {
            .left {
                .column {
                    div {
                        .state {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    #footer {
        footer {
            display: block;

            .left {
                .column {
                    div {
                        p {
                            font-size: 18px;
                        }
                    }
                }
            }

            .right {
                max-width: 100%;
                margin-top: 50px;
                justify-content: flex-start;
            }
        }
    }
}