#homepage {
    header {
        background-image: url('../images/Wave-lines.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 160px 40px 40px;
        min-height: 100vh;
        scroll-snap-align: center;

        h2 {
            font-size: 52px;
            text-transform: uppercase;
        }

        h3 {
            font-family: "Lato";
            font-size: 32px;
            margin: 60px auto;
            max-width: 1000px;
        }

        .fa-chevron-down {
            font-size: 32px;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            transform-origin: bottom;
            transform: scale(1.05);  

            &:hover {
                cursor: pointer;
            }
        }

        .bounce{
            animation-name: bounce;
            animation-timing-function: ease;
        }

        @keyframes bounce {
            0%   { transform: translateY(0); }
            50%  { transform: translateY(10px); }
            100% { transform: translateY(0); }
        }
    }

    main {
        section {
            padding: 60px 20px;
            scroll-snap-align: center;

            h3 {
                font-size: 48px;
            }

            .fa-chevron-down  {
                font-size: 32px;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                transform-origin: bottom;
                transform: scale(1.05);  
    
                &:hover {
                    cursor: pointer;
                }
            }
    
            .bounce{
                animation-name: bounce;
                animation-timing-function: ease;
            }
    
            @keyframes bounce {
                0%   { transform: translateY(0); }
                50%  { transform: translateY(10px); }
                100% { transform: translateY(0); }
            }
        }

        #about {
            background: #DCCEC8;

            h3 {
                max-width: 1000px;
                margin: auto;
            }

            ul {
                margin-top: 60px;
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));

                li {
                    padding: 40px;

                    &:nth-child(2) {
                        border-right: solid 1px #000;
                        border-left: solid 1px #000;
                    }

                    h4 {
                        font-size: 32px;
                        font-family: "Lato-Bold";
                        margin-bottom: 20px;
                    } 
                    
                    p {
                        text-align: left;
                    }
                }
            }

            #about-down-arrow {
                margin-top: 40px;
            }
        }   

        #contact {
            background: #F2F2F2;
            padding-bottom: 80px;
            
            div {
                margin-top: 60px;
            }
        }

        #team {
            div.container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                padding: 60px 0 0;

                .card {
                    margin-bottom: 50px;
                    
                    img {
                        height: 200px;
                        border-radius: 50%;
                    }

                    h4 {
                        font-family: "Lato-Bold";
                        margin: 5px 0;
                    }

                    h5 {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}



@media(max-width: 800px) {
    #homepage {
        header {
            h3 {
                font-size: 28px;
            }
        }

        main {

            section {
                h3 {
                    font-size: 42px;
                }
            }
            #about {
                ul {
                    li {
                        padding: 40px 20px;
                        h4 {
                            font-size: 28px;
                        }
                    }
                }
            }
            
            
        }
    }
}

@media(max-width: 550px) {
    #homepage {
        header {
            padding: 40px 20px 1px;

            h2 {
                font-size: 38px;
            }

            h3 {
                font-size: 22px;
                margin-bottom: 200px;
                margin-top: 40px;
                position: relative;
                bottom: 20px;
            }
        }

        main {

            section {
                padding: 60px 10px;

                h3 {
                    font-size: 32px;
                }
            }

            #about {

                h3 {
                    font-size: 28px;
                }

                ul {
                    display: block;
                    margin-top: 20px;

                    li {
                        &:nth-child(2) {
                            border-right: none;
                            border-left: none;
                            border-top: 1px solid #000;
                            border-bottom: 1px solid #000;
                        }

                        h4 {
                            font-size: 24.5px;
                        }
                    }
                }
            }
        }
    }
}