#homepage {
    header {
        background-image: url('../images/Wave-lines.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 160px 40px 40px;

        h2 {
            font-size: 52px;
            text-transform: uppercase;
        }

        h3 {
            font-family: "Lato";
            font-size: 32px;
            margin: 60px auto 380px;
            max-width: 1000px;
        }
    }

    main {
        section {
            padding: 60px 20px;

            h3 {
                font-size: 48px;
            }
        }

        #about {
            background: #DCCEC8;

            h3 {
                max-width: 1000px;
                margin: auto;
            }

            ul {
                margin-top: 60px;
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));

                li {
                    padding: 40px;

                    &:nth-child(2) {
                        border-right: solid 1px #000;
                        border-left: solid 1px #000;
                    }

                    h4 {
                        font-size: 32px;
                        font-family: "Lato-Bold";
                        margin-bottom: 20px;
                    } 
                    
                    p {
                        text-align: left;
                    }
                }
            }
        }   

        #services {
            ul {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                max-width: 2000px;
                margin: auto;
                padding: 50px 100px;

                li {
                    padding: 40px;

                    &:nth-child(1) {
                        border-right: solid 1px #000;
                        border-bottom: solid 1px #000;
                    }


                    &:nth-child(2) {
                        border-bottom: solid 1px #000;
                    }

                    &:nth-child(3) {
                        border-right: solid 1px #000;
                    }

                    h4 {
                        font-size: 32px;
                        font-family: "Lato-Bold";
                    }

                    p {
                        text-align: left;
                        padding: 20px 0;
                        max-width: 500px;
                        margin: auto;
                    }

                    button {
                        border: none;
                        background: none;
                        display: flex;
                        align-items: baseline;
                        margin-top: 20px;
                        margin-left: auto;
                        font-family: "Lato-Bold";

                        .fas {
                            font-size: 10px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        #contact {
            background: #F2F2F2;
            padding-bottom: 80px;
            
            div {
                margin-top: 60px;
            }
        }

        #team {
            div.container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                padding: 60px 0 0;

                .card {
                    margin-bottom: 50px;
                    
                    img {
                        height: 200px;
                        border-radius: 50%;
                    }

                    h4 {
                        font-family: "Lato-Bold";
                        margin: 5px 0;
                    }

                    h5 {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px) {

    #homepage {
        main {
            #services {
                ul {
                    padding: 50px;
                }
            }
        }
    }
}

@media(max-width: 800px) {
    #homepage {
        header {
            h3 {
                font-size: 28px;
            }
        }

        main {

            section {
                h3 {
                    font-size: 42px;
                }
            }
            #about {
                ul {
                    li {
                        padding: 40px 20px;
                        h4 {
                            font-size: 28px;
                        }
                    }
                }
            }
            
            #services {
                ul {
                    display: block;
                    li {        
                            &:nth-child(1) {
                                border-right: none;
                            }
            
                            &:nth-child(3) {
                                border-right: none;
                                border-bottom: solid 1px #000;
                            }
    
                            &:nth-child(4) {
                                border-bottom: solid 1px #000;
                            }
                        

                        &:nth-child(1) {
                            border-right: none;
                        }
        
                        &:nth-child(3) {
                            border-right: none;
                            border-bottom: solid 1px #000;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 550px) {
    #homepage {
        header {
            h3 {
                font-size: 24.5px;
                margin-bottom: 440px;
            }
        }

        main {

            section {
                h3 {
                    font-size: 36.75px;
                }
            }
            #about {
                ul {
                    display: block;
                    li {
                        &:nth-child(2) {
                            border-right: none;
                            border-left: none;
                            border-top: 1px solid #000;
                            border-bottom: 1px solid #000;
                        }

                        h4 {
                            font-size: 24.5px;
                        }
                    }
                }
            }

            #services {
                ul {
                    padding: 0;
                    li {
                        padding: 40px 0;
                    }
                }
            }
        }
    }
}