nav {
    background: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0, 0.25);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;

    #logo {
        height: 80px;
    }
    
    .empty-space {
        width: 150px;
    }
}

@media (max-width: 600px) {
    nav {
        justify-content: flex-start;
        justify-content: space-around;

        .empty-space {
            width: 0;
        }    
    }
}

@media (max-width: 550px) {
    nav {

        #logo {
            height: 50px;
        }

        .btn {
            font-size: 12px;
            padding: 10px 15px;
        }
    }
}