.grid {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;

        .fill {
            max-width: 350px;
            width: 100%;
            height: 100%;
            margin-bottom: 20px;
        }

        .tan {
            height: 180px;
        }

        .black {
            height: 400px;
        }

        .light-brown {
            height: 360px;
        }

        .brown {
            height: 300px;
        }

    }

    ul {
        width: 100%;
    }

    .card {
        width: 350px;
        margin: 10px;
        a {
            cursor: initial;
            width: 100%;

            .grid-item {
                height: fit-content;
                height: -moz-fit-content;
                transition: .6s ease-out;

                &:hover {
                    transform: translateY(15px);
                }

                div.image {
                    img {
                        cursor: pointer;
                        width: 350px;
                    }
                }
    
                .text-container {
                    position: absolute;
                    bottom: 0;
                    width: 350px;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
    
                    h4 {
                        text-transform: uppercase;
                        font-family: "Lato-Bold";
                        color: #fff;
                        z-index: 4;
        
                        &:nth-child(1) {
                            font-size: 26px;
                        }
        
                        &:nth-child(2) {
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                    }
                }
    
                .overlay {
                    position: absolute;
                    width: 350px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.14);
                    cursor: pointer;
                }
            }
        }
    }
}


// tan box
#artists > div > div:nth-child(9) > div.tan {
    height: 180px;
}
// brown box middle
#artists > div > div:nth-child(19) > div.brown {
    height: 180px;
}
// bottom black
#artists > div > div:nth-child(14) > div.black {
    height: 304px;
}
// middle brown
#artists > div > div:nth-child(17) > div.brown {
    height: 200px;
}
//bottom light-brown
#artists > div > div:nth-child(21) > div.light-brown {
    height: 280px;
}
// bottom right tan box
#artists > div > div:nth-child(28) > div.tan {
    height: 185px;
}


@media(min-width: 1150px) and (max-width: 1470px) {

    #artists > div > div:nth-child(11) > div.light-brown {
        display: none;
    }

    #artists > div > div:nth-child(19) > div.brown {
        height: 138px;
    }

    #artists > div > div:nth-child(21) > div.light-brown {
        display: none;
    }

    #artists > div > div:nth-child(24) > div.tan {
        height: 223px;
    }

    #artists > div > div:nth-child(28) > div.tan {
        display: none;
    }
}