#partners {
    background: #000000;
    color: #fff;
    padding-bottom: 20px;
    
    h3 {
        margin-bottom: 50px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 100px;
        max-width: 1000px;
        margin: 120px auto 60px;

        a {
            display: flex;  
            align-items: center;
            justify-content: center;

            .partner-logo {
                max-width: 150px;
            }
        }
    }

    .content {
        height: 0px;
        overflow: hidden;
        transition: height ease 0.5s;
    }

    button {
        background: none;
        color: #fff;
        border: none;
        font-size: 18px;
        font-family: "Lato-Reg";
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px auto 0;

        &:hover i {
            cursor: pointer;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            transform-origin: bottom;
            width: 200px;
            transform: scale(1.05);
        }
        
        .bounce{
            animation-name: bounce;
            animation-timing-function: ease;
        }

        @keyframes bounce {
            0%   { transform: translateY(0); }
            50%  { transform: translateY(10px); }
            100% { transform: translateY(0); }
        }
    }
}

@media (max-width: 750px){
    #partners {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }
}
 
@media (max-width: 500px) {
    #partners {
    
        .container {
            grid-template-columns: 1fr;
            grid-row-gap: 60px;
            padding-top: 0;

            a {
                .partner-logo {
                    max-width: 100px;
                }
            }
        }
    }
}